
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Gilda Display";
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: left;
    color: #262626; 
}

p {
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0%;
    color: #595959; 
}

.header {
    width: 100%;
    min-height: 162px;
}

.top-content {
    width: 100%;
    min-height: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    
}

.mobile-menu {
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    margin-top: -40px;
    
}

.logo {
    font-family: "Gilda Display", serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1.6px;
    color: #25A59E;
    width: 52px;
    height: 19px;
    margin-left: -20px; 
    }

.menu-icon {
    width: 24px;
    height: 24px;
    stroke: #262626;
    stroke-width: 1.5px;
    margin-right: -20px; 
}

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 24px;
    }
    
/* Styling the first section "Hero Section"*/
    
.hero {
    width: 100%; 
    min-height: 311px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    position: relative;
    padding-top: 50px; 
    overflow: hidden;

    /* Background with multiple images */

background: 
url('images/img/Ellipse.png') bottom center no-repeat, /* Circle first */
url('images/img/Blurry.png') top center/cover no-repeat; /* Gradient after */
background-size: auto, cover;
background-position: bottom  -150px, top center;
}

.hero .title {
    position: relative;
    z-index: 5;
    font-family: "Gilda Display", serif;
    font-size: 3.25rem; 
    font-weight: 400;
    color: #262626;
    line-height: 100%;
    text-align: center;
    margin-top: -70px;
}

.highlight {
    color: #25A59E;
}

.hero .travel-image {
position: absolute;
bottom: -35px; 
left: 50%; 
transform: translateX(-50%); 
width: 100%; 
min-height: 228px;
z-index: 4;
}


/* Styling of the second section "Section with Destiny Cards"*/

.destination-header {
    gap: 20px;
    padding: 80px 20px 0 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
/* First card */
.first-card {
    width: auto;
    min-height: 378px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 12px 12px 0 12px; 
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #F2F2F2;
    box-shadow: 
    -55.45px 50.41px 98px 0px rgba(55, 54, 100, 0.04), 
    105.45px 50.41px 78.04px 0px rgba(55, 54, 100, 0.05);
}

.first-card .card-image {
    width: 100%;
    min-height: 262px;
}

.first-card .card-location {
    width: 100%;
    min-height: 60px;
    gap: 8px;
    padding: 0 4px;
    display: flex;
    align-items: center; 
    flex-direction: row;
    margin-top: -30px;
}

.first-card .card-title {
    font-family: Urbanist;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 28px;
    letter-spacing: 0%;
    color: #262626; 
}

.first-card .location-icon {
    width: 24px;
    height: 24px;
}

.first-card .card-location p {
    font-family: Urbanist;
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0%;
    color: #595959;
}

.destinations-section{
    width: 100%;
}

.destination-card {
    width: 100%;
    height: auto;
    padding: 16px 16px 10px 16px;
    margin-top: 16px;
    border: 1px solid #F2F2F2;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 28px;
    box-shadow: 
    -55.45px 50.41px 98px 0px rgba(55, 54, 100, 0.04), 
    105.45px 50.41px 78.04px 0px rgba(55, 54, 100, 0.05);
}

/* Images of destination cards */
.destination-card .card-image {
    width: 100%;
    min-height: 248px;
}

/* Title of destination cards */
.destination-card .card-title {
    font-family: Urbanist;
    font-weight: 700;
    font-size: 1.5rem; 
    line-height: 36px;
    letter-spacing: 0%;
    color: #262626;
    margin-bottom: 10px;
    
}
/* Location */
.destination-card .card-location {
    display: flex;
    align-items: center; 
    gap: 8px;
    flex-direction: row;
    margin-bottom: 30px;
    
}
/* Location icon */
.destination-card .location-icon {
    width: 24px;
    height: 24px;
}
/* Location text  */
.destination-card .card-location p {
    font-family: Urbanist;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 32px;
    letter-spacing: 0%;
    color: #595959;
}

.second-card {
    margin-top: 30px; 
    margin-bottom: -15px;
}


/* Styling of the third section "Benefits Section"*/

.benefits {
    width: 100%;
    min-height: 1096px; 
    display: flex;
    flex-direction: column;
    gap: 28px;
    background-color: #f9f9fb;
    align-items: center; 
    justify-content: center;
}

/* Header Centering and Styling */
.benefits-header {
display: flex;
flex-direction: column;
gap: 12px;
margin-top: 60px;
align-items: center; 
text-align: center;
background-color: #f9f9fb; 
padding: 0 30px;

}
/* Card Style */
.benefit-card {
        width: 335px;
        min-height: 257px;
        display: flex; 
        flex-direction: column; 
        gap: 12px;
        padding: 28px 20px 32px 20px;
        background-color: #ffffff;
        margin-top: -25px;
}

.card-highlighted {
    min-height: 254px;
    background-color: #25A59E;
    margin-top: 0;
}

.benefit-card h3 {
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 40px;
    letter-spacing: 0%;
    color: #262626;
}

.benefit-card p {
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 23px;
    letter-spacing: 0%;
    color: #737373;
}

.card-highlighted h3, .card-highlighted p {
    color: #ffffff;
}

.card-highlighted p {
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0%;
}

.card-action {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-end;
    gap: 12px; 
    margin-top: 22px;
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 23px;
    letter-spacing: 0%;
    color: #25A59E;
}

.card-action img {
    width: 16px;
    height: 16px;
    margin-bottom: 8px;
}
.highlighted-action{
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
}

.Benefits-divider{
    width: 335.33px;
    height: 4px;
    background-color: #25A59E;
    border: none;
    
}


/* Styling of the fourth section "Promo Section"*/

.promo-section {
    width: 100%; 
    min-height: 487px;
    padding: 20px;
    gap: 28px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;  
    background-color: #f9f9fb;
    
    
}

.promo-section .promo-header{
width: 100%;
min-height: 212px;
gap: 12px;
display: flex;
flex-direction: column;
margin-bottom: 0;
margin-top: 50px;
}

.promo-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.promo-image .img-travelers-map {
    width: 100%;
    max-width: 335px;
    min-height: 247px;
    
}

/* Styling of the fifth section "Video Section"*/

.video-section {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    padding:30px 0;
    gap: 24px;
    background-color: #f9f9fb;;
    
}
.video-section .video-preview {
    width: 100%;
    min-height: 220px; 
    
}
.video-section h2 {
    text-align: center; 
    margin: auto; 
}

/* Footer */
.footer {
    width: 100%;
    min-height: 553px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 42px;
    background-color: #ffffff;
}

/* Promotional offer */
.offer {
    padding: 0 20px; /* Combines padding-right and padding-left */
    display: flex; 
    flex-direction: column; 
    gap: 16px; 
}

.offer-button {

    width: 147px;
    height: 54px;
    padding: 16px 32px;
    display: flex;
    gap: 10px;
    border: none;
    background-color: #25A59E;
    color: #FFFFFF;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

/* Separator line */
.footer-divider {
    width: 100%;
    border-width: 1px;
    border: 1px solid #D9D9D9;
}

/* Travel Information */
.travel-info {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 12px;
    justify-content: center;
    
}

.travel-info h3 {
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 10%;
}

/* Social media icons */
.social-icons {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.social-icons img {
    width: 144px;
    height: 42px;
}

/* Static menu  */
.footer-menu {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    width: 100%;
    height: 24px;
    padding: 0 20px;
}

.footer-menu ul {
    display: flex; 
    gap: 20px;
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.footer-menu li a {
    font-family: "Urbanist", sans-serif; 
    font-weight: 600; 
    font-size: 1rem; 
    line-height: 24px; 
    letter-spacing: 0%; 
    text-decoration: none;
    color:#595959; 
}

/* Adjusting the font size of the main title 
and the width of the cards in the benefits section
 */
@media screen and (min-width: 400px) {
    .hero .title {
        font-size: 2.75rem; 
        transform: translateY(-8px);
    }
}

@media screen and (min-width: 400px) {
    .benefit-card { 
    width: 350px;
}
}













